.container {
  background-color: rgb(223, 229, 192);
  text-align: center;
  width: 240px;
  margin: auto;
  border: solid 2px black;
  border-radius: 4px;
  position: relative;
}

ul {
  margin-left: -24px;
  margin-top: -20px;
}

li {
  text-align: left;
  margin-top: 4px;
  margin-bottom: 4px;
  cursor: pointer;
}

li button {
  position: absolute;
  right: 32px;
}

.checked {
  text-decoration: line-through;
  color: rgb(145, 145, 145);
}

.input-container,
.list-container {
  width: 200px;
  margin: 10px;
}

.input-container {
  margin-bottom: 30px;
}

h1 {
  text-align: left;
  margin: 10px;
}

p {
  text-align: left;
  margin-bottom: 6px;
}

button {
  cursor: pointer;
  background-color: rgb(187, 206, 173);
  border: none;
  width: 21px;
  height: 21px;
  border-radius: 50%;
}

button:hover {
  background-color: rgb(203, 215, 195);
}

input {
  cursor: pointer;
  margin-bottom: 10px;
}